<div class="header">
  <nav class="tabs">
    <div id="main-view-container" class="tab-container">
      <button id="main-view-tab" class="agenda-tab">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-dashboard-icon lucide-layout-dashboard">
          <rect width="7" height="9" x="3" y="3" rx="1"/><rect width="7" height="5" x="14" y="3" rx="1"/>
          <rect width="7" height="9" x="14" y="12" rx="1"/><rect width="7" height="5" x="3" y="16" rx="1"/>
        </svg>
        <span class="tab-text">{{t "main_view_tab"}}</span>
      </button>
    </div>
    <div id="list-view-container" class="tab-container">
      <button id="list-view-tab" class="agenda-tab">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-icon lucide-list">
          <path d="M3 12h.01"/><path d="M3 18h.01"/><path d="M3 6h.01"/>
          <path d="M8 12h13"/><path d="M8 18h13"/><path d="M8 6h13"/>
        </svg>
        <span class="tab-text">{{t "list_view_tab"}}</span>
      </button>
    </div>
    <div id="table-view-container" class="tab-container">
      <button id="table-view-tab" class="agenda-tab">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-table-properties-icon lucide-table-properties"><path d="M15 3v18"/><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M21 9H3"/><path d="M21 15H3"/></svg>
        <span class="tab-text">{{t "table_view_tab"}}</span>
      </button>
    </div>
    <div id="calendar-view-container" class="tab-container">
      <button id="calendar-view-tab" class="agenda-tab">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-icon lucide-calendar"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/></svg>
        <span class="tab-text">{{t "calendar_view_tab"}}</span>
      </button>
    </div>
    <!--<div id="timeline-view-container" class="tab-container">
      <button id="timeline-view-tab" class="agenda-tab">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-range-icon lucide-calendar-range"><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M16 2v4"/><path d="M3 10h18"/><path d="M8 2v4"/><path d="M17 14h-6"/><path d="M13 18H7"/><path d="M7 14h.01"/><path d="M17 18h.01"/></svg>
        <span class="tab-text">{{t "timeline_view_tab"}}</span>
      </button>
    </div>
    <div id="gantt-view-container" class="tab-container">
      <button id="gantt-view-tab" class="agenda-tab">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-gantt-icon lucide-chart-gantt"><path d="M10 6h8"/><path d="M12 16h6"/><path d="M3 3v16a2 2 0 0 0 2 2h16"/><path d="M8 11h7"/></svg>
        <span class="tab-text">{{t "gantt_view_tab"}}</span>
      </button>
    </div>-->
  </nav>
</div>