<h2>{{t "agenda_title"}}</h2>
<div class="view-buttons">    
    <button id="month-view-button">{{t "month_view"}}</button>
    <button id="week-view-button">{{t "week_view"}}</button>
    <button id="day-view-button">{{t "day_view"}}</button>
</div>

{{#if tasks.length}}
  <ul>
    {{#each tasks}}
      <li>{{this.text}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>{{t "no_tasks"}}</p>
{{/if}}